@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src:
    local("Satoshi"),
    local("Satoshi-Regular");
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

:root {
  color: #1a1c1b;
  background: #f9f9f7;
  font-family: "Satoshi", Arial, sans-serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}
